<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper
	namespace="com.mealchelin.mvc.pay.model.mapper.PaymentMapper">
	<resultMap id="shoppingResultMap" type="PayMent"  >
		<id property="prdNo"          column="PRD_NO"     />
		<result property="memberNo"   column="MEMBER_NO"  />
		<result property="totalPrice" column="TOTAL_PRICE"/>
		<result property="price"      column="PRICE "     />
		<result property="payment"    column="PAYMENT"    />
	</resultMap>


	<select id="selectByProductPay" parameterType="_int" resultMap="shoppingResultMap">
		SELECT
		s.PRD_NO,
		s.MEMBER_NO,
		s.TOTAL_PRICE,
		l.PRICE,
		b.PAYMENT
		FROM
		SHOPPING_BASKET_PRODUCT s
		INNER JOIN
		SHIPPING_LOCATION l ON s.MEMBER_NO = l.MEMBER_NO
		INNER JOIN
		SHOPPING_BASKET b ON s.MEMBER_NO = b.MEMBER_NO
		WHERE
		s.MEMBER_NO = #{memberNo}

	</select>
	<insert id="insertSaveOrderProduct" parameterType="list">
		INSERT
         INTO ORDER_PRODUCT
       (
              PRD_NO
            , ORDER_NO
            , QUANTITY
            , TOTAL_PRICE
       )
       VALUES
       <foreach collection="list" item="item" separator=",">
       (
              #{item.proNo}
            , #{item.orderNo}   
            , #{item.quantity}  
            , #{item.totalPrice}
       )
    </foreach>
	</insert>


</mapper>