h3 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 25px;
}

#re_writtenReview {
    margin-right: 20px !important;
    color: #B4B4B4;
    font-size: 18px;
}

#re_writableReview {
    margin: 20px 20px 20px 0px;
	font-size: 18px;
	margin-left: 2px;
}

#re_periodDropBox {
    width: 180px;
    padding: 6px;
    margin: 5px;
    margin-left: 630px;
    
}

select {
    -moz-appearance: none;
    /* -webkit-appearance: none; */
    /* appearance: none; */
    border: 1px solid #EEEEEE;
}

hr {
    width: 1100px;
    border:none;
    background-color: #B4B4B4;
    height:1px;
    margin:10px 0 30px 0;
}

#re_mainDiv1 {
    height: 175px;
    width: 1100px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #CECECE;
}

#re_foodImg {
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 10px;
    object-fit: cover;
    overflow: hidden;
    text-align: center;
}

#re_reviewInfo {
    float: left;
    margin-left:10px;
}

#re_review1{
    margin: 10px;
}

#re_foodName {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}

#re_purchaseDate {
    font-size: 16px;
    margin-bottom: 10px;

}

#re_companyName{
    font-size: 14px;
    color: #B4B4B4;
}

#re_reviewEndDate{
    font-size: 14px;
    text-align: center;
}

#re_reviewBtnDiv {
    float: right;
    margin-top: 35px;
}

.re_reviewBtn {
    border: none;
    box-shadow: 0 0 0 1px #559D50 inset;
    padding:7px 30px;
    background-color: #fff;
    color: #559D50;
    margin: 10px;
    width: 140px;
}

#re_bottomPageNumbers{
    text-align: center;
    margin: 20px;
}

#re_bottomPageNumbers{
    text-align: center;
    margin: 20px;
}