h3 {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;
    font-size: 25px;
}

#re_reviewBtn {
    border:none;
    padding:7px 30px;
    background-color: #559D50;
    color: #fff;
}

#re_reviewBtnDiv{
    text-align: right;
	margin-bottom:20px;
}

.mainDiv{
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-start;
    gap: 28px;
    flex-wrap: wrap;
    float:left;
}

.re_img {
    width: 252px;
    height: 250px;
    /* float: left; */
}

.re_imgDiv{
    border: 1px solid #E1E1E1;
    width: 254px;
}

#re_bottomPageNumbers{
    text-align: center;
    margin: 20px;
    order: none;
    background-color: transparent;
    font-size: 16px;
}

.re_brandName{ 
    margin-top: 5px;
    color: #8F8F8F;
    font-size:14px;
    float:right;
    text-align:right;
    width:60px;
    height:20px;
    text-overflow: clip;
    overflow: hidden;
}

.re_star{
    color: #86BC66;
    font-size: 20px;
}

.re_innerimgDiv{
    word-break: break-all;
    padding: 15px;
}

.re_foodName{
    float: left;
    font-weight: bold;
    width:160px;
    height:25px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.re_reviewContent{
	height: 100px;
    overflow: hidden;
    font-size:14px;
}

.re_reviewTitle{
	height: 20px;
    overflow: hidden;
    clear:both;
    margin: 10px 0;
}

.starR{
    color: #D9D9D9;
    font-size: 25px;
    /* cursor: pointer; */
}

#re_star {
    color: #86BC66;
    font-size: 25px;
}

.re_reviewId {
	font-size: 15px;
    display: inline-block;
    margin-left: 29px;
	color: #8F8F8F;
	vertical-align: text-top;
}
