#re_goToListBtn {
    border:none;
    padding:7px 30px;
    background-color: #559D50;
    color: #fff;
}

.starR{
    color: #D9D9D9;
    font-size: 30px;
    margin-top: 65px;
}

#re_star {
    color: #86BC66;
    font-size: 30px;
}