
/* 섹션 1 */
#pd-section1 {
    margin: 40px auto 40px auto;
}

.pd-main-heading {
    color: #3B6C51;
}

.pd-main-category {
    margin: 20px auto;
    border: solid #D8D8D8;
    border-width: 1px 0;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
}

.pd-main-category-name {
    width: 250px;
    height: 40px;
    padding: 6px;
    padding-left: 20px;
    border-radius: 5px;
}

.pd-main-category-name:hover {
    color: #3B6C51;
    font-weight: bolder;
    background-color: #F6F6F6;
}

.pd-main-search {
    display: flex;
    justify-content: space-between;
}

.pd-main-result {
    padding-left: 10px;
}


/* 상품 정렬 */
.pd-main-sort {
    float: right;
    padding-right: 10px;
}


.pd-main-sort-btn{
    color: #888888;
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.pd-main-sort-btn:active{
    color: #191919;
    font-weight: bolder;
}

.pd-main-sort>span:not(:first-child)::before {
    padding: 10px 10px 10px 9px;
    color: #D8D8D8;
    content: "|";
}


/* 섹션 2 */
#pd-section2{
    width: 1100px;
    margin: 40px auto;
}

.pd-main_new_menu {
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px 17px;
}

.pd-main_new_box{
    width: 262px;
    height: 328px;
}

.pd-main_new_box_img img{
    width: 262px;
    height: 262px;
}

.pd-main_new_box_txt{
    padding-top: 7px;
}

.pd-main_new_txt_brand{
    font-size: 14px;
    color: #8F8F8F;
    float:left;
    padding-top:7px;
}

.pd-main_new_txt_price{
    float:right;
    font-weight: 600;
    padding-top:5px;
}

/* 섹션 3 */
#pd-section3 {
    height: 73px;
    margin: 25px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pd-paging {
    width: 200px;
    height: 25px;
    display: flex;
    justify-content: space-between;
}

.pd-paging button{    
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: #8F8F8F;
}   

.pd-paging button:hover{    
    /* 생각보다 티가 안나는거 같음  */
    color: #559D50;
    cursor: pointer;
}