/* 섹션 1: 제품 이미지, 정보 */
#pd-view-section1>form {
    margin: 80px auto 80px auto;
    display: flex;
    justify-content: space-between;
    height: 555px;
}

/* 제품 정보(우측) 전체 */
.pd-view-saleInfo {
    width: 450px;
    position: relative;
}

.pd-view-name>p {
    font-size: 14px;
    color: #8F8F8F;
}

.pd-view-name {
    margin-bottom: 20px;
    
}

/* 제품 정보 공통 */
.pd-view-content {
    display: flex;
    gap: 80px;
    padding: 12px 0;
    border-top: 1px solid #EEEEEE;
}

.pd-view-contentName {
    margin-left: 10px;
    width: 85px;
}

/* 수량 */
.pd-view-content:nth-last-child(3) *{
    align-self: center;
}

/* 총 금액 아래 실선 */
.pd-view-content:nth-last-child(2) {
    border-bottom: 1px solid #EEEEEE;
}

/* 제품 정보 수량 버튼 */
.pd-view-quantity-btn {
    border: 1px solid #C0C0C0;
    display: flex;
    gap: 5px;
    border-radius: 5px;
}

.pd-view-quantity-btn>button {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #C0C0C0;
}

.pd-view-quantity-btn>button:active {
    border-radius: 2px;
    background-color: #ededed;
    color: #191919;
}

/* 폼태그로 변경으로 인한 input:number의 기본 css 삭제 */
.pd-view-quantity {
    width: 10px;
    border: none;
}

.pd-view-quantity::-webkit-outer-spin-button, .pd-view-quantity::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.pd-view-quantity:focus {
    outline: none;
}


/* 제품 구매/장바구니 버튼 */
.pd-view-btns {
    position: absolute;
    bottom: 0;
    width: 450px;
    display: flex;
    justify-content: space-between;
}

.pd-view-btns>button {
    width: 215px;
    height: 45px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    line-height: 1px;
}

.pd-view-btns>button[disabled] {
	cursor: default;
}

.pd-view-btn-basket {
    box-shadow: 0 0 0 1px #3B6C51 inset;
    background-color: #ffffff;
    color: #3B6C51;
}

.pd-view-btn-basket[disabled] {
	box-shadow: 0 0 0 1px grey inset;
	color: grey;
}

.pd-view-btn-basket:not([disabled]):active {
    background-color: #ededed;
}

.pd-view-btn-purchase {
    background-color: #3c6d52;
    color: #fff;
}

.pd-view-btn-purchase[disabled] {
	background-color: grey;
}

.pd-view-btn-purchase:not([disabled]):active {
    background-color: #2f5640;
}

.pd-view-btn-disabled {
	width: 300px !important; 
	color: grey;
	box-shadow: 0 0 0 1px grey inset;
	margin-left: 75px;
	background-color: #ffffff;
}

/* 섹션2 상품 상세 정보 */
#pd-view-section2 {
    margin: 40px auto 40px auto;
    border-top: 1px solid #D8D8D8;
}

.pd-view-detail-header {
    color: #559D50;
    margin: 10px 0 0 10px;
}

.pd-view-detail-image img {
    display: block;
    margin: auto;
	width: 1000px;
	height: auto;

}

/* 섹션3 교환/환불 정보 */
#pd-view-section3 {
    margin: 40px auto 40px auto;
    border-top: 1px solid #D8D8D8;
}

.pd-view-refund {
    color: #559D50;
    margin: 10px 0 0 10px;
}

.pd-view-refund-case {
    margin: 30px 0 50px 30px;
    display: flex;
    gap: 80px;
}

.pd-view-refund-name {
    font-weight: bolder;
    width: 210px;
}


.pd-view-refund-ul {
    margin-inline-start: 25px;
}