#pay_Mains {
    height: 100%;
}

.pay_Sections {
    width: 1100px;
    height: 100%;
    margin: auto;
    padding-top: 60px;
}

.pay_Title {
    padding-left: 46%;
    font-size: 34px;
}

.pay_MainContent {
    height: 94%;
}

.pay_FirstContent {
    width: 100%;
    height: 78px;
    border-bottom: 1px solid black;
    padding-top: 35px;
}

.pay_FirstContentTitle {
    font-size: 20px;
}

/* 주문상품 첫번쨰  */
.pay_FirstContentArea {
    padding: 31px 0 22px 14px;
    display: flex;
    border-bottom: 1px solid #ddd
}

.pay_menuPhoto {
    width: 90px;
    height: 90px;
}

.pay_FirstMemu{
    width: 65%;
    padding-top: 25px;
    margin: 1px;
}

.pay_FirstName {
	padding-top:26px;
    padding-left: 34px;
    font-size: 20px;
}

.pay_subFirstName {
    padding-left: 36px;
    color: rgb(119, 119, 119);
    margin-top: 3px;
}

.pay_number {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

.pay_paynumber {
    padding-left: 108px;
    margin-top: 19px;
    font-size: 20px;
}

.pay_userInfo {
    width: 1100px; 
}

.pay_SecondContent {
    width: 100%;
    height: 78px;
    padding-top: 40px;
    border-bottom: 1px solid black;
}

.pay_SecondContentArea{
    padding-top: 20px;
    height: 286px;
}


.pay_tridContentArea{
    padding-top: 20px;
    height: 220px; 
    border-bottom: 1px solid #7a7a7a;
}



.pay_secondContentTitle {
    font-size: 20px;
    padding-top: 1px;

}

.pay_Sender {
    display: flex;
    padding-top: 20px;
}

.pay_username {
    display: inline-block;
    font-size: 16px;
    width: 150px;
    color: #ACA7A7;
}

.pay_usernames {
    display: inline-block;
    font-size: 16px;
    width: 160px;
}

.pay_userPhone {
    display: inline-block;
    font-size: 16px;
    width: 150px;
    color: #ACA7A7;
}

.pay_userPhones {
    display: inline-block;
    font-size: 16px;
    width: 150px;
}

.pay_userEmail {
    display: inline-block;
    font-size: 16px;
    width: 150px;
}

.pay_userEmails {
    display: inline-block;
    font-size: 16px;
    width: 150px;
}

.pay_userEmails p {
    font-size: 10px;
    width: 300px;
    color: rgb(119, 119, 119);
}

.pay_useraddress {
    display: inline-block;
    font-size: 16px;
    width: 143px;
}

.pay_useraddresss {
    font-size: 16px;
    width: 500px;
    padding-left: 13.6%;
}

.pay_defaultPoint {
    display: inline-block;
    height: 22px;
    padding: 0px 8px;
    margin-bottom: 8px;
    border-radius: 11px;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    color: rgb(102, 102, 102);
    background-color: rgb(247, 247, 247);
    vertical-align: top;

}

.pay_thirdContent {
    width: 100%;
    height: 78px;
    padding-top: 35px;
    border-bottom: 1px solid black;
}

.pay_thirdContentTitle {
    font-size: 20px;
    padding-top: 1px;
}

.pay_DeliveryInfo {
    float: right;
    padding-top: 10px;
    color: rgb(157, 157, 157);
    font-size: 16px;
}

.pay_ShippingInfo {
    width: 1100px;
    height: 270px;
    padding-top: 20px;
}

.pay_addressInfo {
    padding-left: 13.7%;
    padding-top: 2px;
    font-size: 14px;
}

.pay_addresschangeArea {
    padding-top: 9px;
    padding-left: 13%;
    padding-bottom: 50px;
}

.pay_addresschange {
    isplay: block;
    padding: 3px 10px;
    text-align: center;
    overflow: hidden;
    width: 60px;
    height: 30px;
    border-radius: 3px;
    color: rgb(51, 51, 51);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
    font-size: 13px;
}

.pay_fourContent {
    border-bottom: 1px solid black;
}

.pay_fourContentTitle {
    font-size: 20px;
    padding-bottom: 12px;
}

.pay_DeliveryRequestInfoArea {
    border-top: 1px solid rgb(197, 193, 193);
    width: 1100px;
    height: 116px;
    padding-top: 20px;
}

.pay_DeliveryRequestInfo {
    padding-top: 1%;
}


.pay_DeliveryRequest {
    padding-top: 10px;
}

.pay_DeliveryUserRequest {
    margin-left: 30px;
    box-sizing: border-box;
    width: 345px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #D9D3D3;
    padding-left: 14px;
}





.pay_UserRequest {
    padding-left: 11.4%;
    padding-top: 8px;
    color: rgb(85, 157, 80);
}

.pay_FiveContent {
    width: 100%;
    height: 78px;
    padding-top: 35px;
    border-bottom: 1px solid black;
}

.pay_fiveContentTitle {
    font-size: 20px;
    padding-top: 1px;
}

.pay_payInfo {
    width: 1100px;
    height: 133px;
}

.pay_payList {
    width: 700px;
    height: 100px;
    margin-top: 3%;
}

.pay_Info {
    display: flex;
    width: 1100px;
    flex-direction: column;
    justify-content: space-evenly;
}

.pay_Info label {
    padding: 1px;
    width: 200px;
}

.pay_Info img {
    width: 50px;
}

.pay_Info input{
    margin-right: 20px;
}


input[type=checkbox] {
    width: 1rem;
    height: 1rem;
    appearance: none;
    /* 원래 제공되는 체크박스 없애기 */
    border-radius: 50%;
    /* 동그랗게 만들기 */
    background-color: #ffffff;
    box-shadow: inset 0 0 0 2px #dddd;
    transition: background 300ms;
    /* 0.3초에 걸쳐 background 변경 */
    cursor: pointer;
}

input[type=checkbox]::before {

    content: '';
    color: transparent;
    display: none;
    width: 1rem;
    /* 부모 속성 그대로 받기 */
    height: 1rem;
    /* 부모 속성 그대로 받기 */
    border-radius: inherit;
    background-size: contain;
    /* 지정한 요소 안에 배경 이미지가 다 들어오도록 이미지를 확대/축소하기 */
    box-shadow: inset 0 0 0 3px #8d2424;
}

input[type=checkbox]:checked::before {
    box-shadow: none;
    display: block;
    box-shadow: inset 0 0 0 4px rgb(85, 157, 80);
}

.pay_sixContent {
    width: 100%;
    height: 78px;
    padding-top: 35px;
    border-bottom: 1px solid black;
}

.pay_sixContentTitle {
    font-size: 20px;
    padding-top: 1px;
}

.pay_payResultArea {
    width: 1100px;
    height: 300px;
}

.pay_payResult {
    padding-top: 20px;
    padding-top: 27px;
}

.pay_pay {
    padding-left: 9%;
    font-size: 16px;
}

.pay_payment {
    padding-left: 4%;
    color: rgb(156, 154, 154);
    font-size: 16px;
    padding-left: 75px;
}

.pay_Product {
    padding-left: 10%;
    font-size: 16px;
    padding-left: 138px;
    color: rgb(156, 154, 154);
}

.pay_Delivery {
    font-size: 16px;
    color: rgb(156, 154, 154);
}

.pay_payMoney {
    padding-left: 7.5%;
    font-size: 16px;
}

.pay_paymentInfo {
    padding-top: 10px;
}

.pay_finalResult {
    padding-top: 20px;
    padding-bottom: 17px;
}

.pay_Finalpay {
    padding-left: 5.5%;
    font-size: 16px;
    font-size: 24px;
    color: rgb(40, 77, 56);
    font-weight: 600;
}

.pay_line {
    border: 1px solid rgb(207, 202, 202);
    ;
}

.pay_sevenContent {
    width: 100%;
    height: 78px;
    padding-top: 35px;
    border-bottom: 1px solid black;
}

.pay_sevenContentTitle {
    font-size: 20px;
    padding-top: 1px;
}

.pay_userInfoArea {
    width: 1100px;
    height: 229px;
}

.pay_userInfoCheck {}

.pay_checkInfo {
    float: right;
    color: rgb(85, 157, 80);
}

.pay_userInfotwo {
    padding-top: 20px;
    padding-bottom: 5px;
}

.pay_userInfoCheckResult {}

.pay_subInfo {
    padding-top: 10px;
    color: rgb(85, 157, 80);
}

.pay_pay_Productreview {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 19px;
    padding-left: 4px;
}

.pay_pay_Productreview input {
    border: 1px solid #559D50;
    width: 121px;
    height: 40px;
    background-color: #fff;
    color: #559D50;
    padding-bottom: 2px;
    display: block;
    margin-top: 9px;
    border-radius: 2px;
    
}
.pay_pay_Productreview input:hover {
    border: 1px solid #559D50;
    width: 121px;
    height: 40px;
    background-color: #3B6C51;
    color: #ffff;
    padding-bottom: 2px;
    display: block;
    margin-top: 9px;
    border-radius: 2px;
}


.pay_fourInfo{
    height: 78px;
}

.pay_fourInfo input{
    margin-right: 20px;
    padding-top: 1px;
}

.pay_fourInfo label span{
    margin-left: 20px;
    color: #7a7a7a;
}

.pay_pay_Productreview {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 31px;
}

.pay_pay_Productreview input {
    border: 1px solid #559D50;
    width: 179px;
    height: 50px;
    background-color: #fff;
    color: #559D50;
    padding-bottom: 2px;
    display: block;
    margin-top: 9px;
    border-radius: 2px;
    font-size: 17px;
    
}


.pay_pay_Productreview input:hover {
    border: 1px solid #559D50;
    width: 179px;
    height: 50px;
    background-color: #3B6C51;
    color: #ffff;
    padding-bottom: 2px;
    display: block;
    margin-top: 9px;
    border-radius: 2px;
    font-size: 17px;
    
}

.pay_pay_Productreview a {
    border: 1px solid #559D50;
    width: 179px;
    height: 50px;
    background-color: #fff;
    color: #559D50;
    padding-bottom: 2px;
    display: block;
    margin-top: 9px;
    border-radius: 2px;
    font-size: 17px;
    text-align: center;
    padding-top: 10px;
    
}


.pay_pay_Productreview a:hover {
    border: 1px solid #559D50;
    width: 179px;
    height: 50px;
    background-color: #3B6C51;
    color: #ffff;
    padding-bottom: 2px;
    display: block;
    margin-top: 9px;
    border-radius: 2px;
    font-size: 17px;
    text-align: center;
    padding-top: 10px;
}


.pay_Product {
    display: flex;
    align-items: center;
    width: 1075px;
}


.pay_ProductImg {
    width: 10%;
}

.pay_ProductResult p {
    font-size: 24px;
    width: 99px;

}

.pay_ProductInfo {
    width: 100%;
    padding-bottom: 16px;
}

.pay_table {
    margin-top: 1px;
    width: 300px;
}

.pay_table td{
    padding-top: 10px;
    padding-left:20px;
}

 .pay_subName {
    padding: 8px;
    width: 202px;
}

.pay_Maintable{
    width: 500px;
}


.pay_mainName {
    width: 153px;
}



.pay_subName{
    padding-left: 1px;
}

.pay_mainName{
    color: #7A7A7A;
}


.pay_subNameTwo {
    width: 100px;
}


.pay_subNameOne {
    width: 200px;
}

.pay_ProductMenu span {
    color: rgb(143, 143, 143);
}






