.memLogo {
    width: 123px;
    height: 130px;
    display: block;
    margin:auto;
    margin-top: 100px;
    margin-bottom: 50px;
}

section {
    text-align: center;
}

#co_mainDiv{
    height: 600px;
}

#co_subment {
    margin: 50px;
    color: #686363;
}

#co_goHomeBtn{
    margin-bottom: 50px;
    border:none;
    padding:15px 30px;
    background-color: #3B6C51;
    color: #fff;
    font-size: 16px;
    width: 200px;
    border-radius: 5px;
}

#co_goOrderList{
    margin-bottom: 50px;
    border:none;
    box-shadow: 0 0 0 1px #559D50 inset;
    padding:15px 30px;
    background-color: #fff;
    color: #559D50;
    font-size: 16px;
    width: 200px;
    border-radius: 5px;
}