/* 제목 */
#cs-section1 {
    margin: 40px auto 40px auto;
    text-align: center;
}

/* 내용 */
#cs-section2 {
    margin: 40px auto 40px auto;
    border-top: 1px solid #191919;
}

.cs-inquiry-wrap {
    margin-top: 40px;
}

.cs-inquiry-content {
    width: 1100px;
    display: flex;
    /*line-height: 50px;*/
    margin-bottom: 40px;
}

.cs-inquiry-column {
    width: 130px;
    height: 50px;
    text-align: center;
    padding: 15px 20px;
}

/* 텍스트에리어 속성 */
.cs-inquiry-data {
    resize: none;
    flex-grow: 1;
    padding: 11px 25px;
    font-size: 16px;
    margin-right: 100px;
}

.cs-inquiry-title{
	width:900px;
	border: 1px solid #C0C0C0;
	padding: 15px 20px;
	font-size: 16px;
}

.cs-inquiry-text{
	width:900px;
	border: 1px solid #C0C0C0;
	padding: 15px 20px;
	font-size: 16px;
	min-height: 310px;
}

.cs-inquiry-text img{
	width: 600px;
	height: auto;
}


/* 버튼 */
#cs-section3 {
    margin: 40px auto 40px auto;
}

.cs-location-to-list {
    display: block;
    margin: auto;
    width: 160px;
    height: 40px;
    cursor: pointer;
    border:none;
    padding:7px 30px;
    background-color: #3B6C51;
    color: #fff;
    line-height: 0;
    font-size: 16px;
}

.cs-location-to-list:active {
    background-color: #2f5640
}


