@charset "UTF-8";
.memLogo {
    width: 123px;
    height: 130px;
    display: block;
    margin:auto;
    margin-top: 100px;
    margin-bottom: 50px;
}

section {
    text-align: center;
}

#co_mainDiv{
    height: 600px;
}

#co_goHomeBtn{
    margin-bottom: 50px;
    border:none;
    padding:15px 30px;
    background-color: #3B6C51;
    color: #fff;
    font-size: 16px;
    width: 200px;
    border-radius: 5px;
}

#co_goOrderList{
    margin-bottom: 50px;
    border:none;
    box-shadow: 0 0 0 1px #559D50 inset;
    padding:15px 30px;
    background-color: #fff;
    color: #559D50;
    font-size: 16px;
    width: 200px;
    border-radius: 5px;
}

/* #co_addressAndOrderNumber{
    background-color: #FAF7F7;
    width: 360px;
    height: 100px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

#co_addressNum{
    color: #848484;
    padding: 30px 20px;
    font-size: 14px;
} */

#co_ment{
    margin-bottom: 50px;
}



#co_paymentDiv{
    /* border: 1px solid black; */
    margin: 0 auto;
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
}

#co_paymentText{
    float: left;
    text-align: left;
}

#co_paymentMoney{
    text-align: right;
    color: #559D50;
}