<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper 
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
   
<mapper namespace="com.mealchelin.mvc.cscenter.model.mapper.InquiryMapper">
	<sql id="inquiryListSql">
      SELECT RNUM, INQUIRY_NO, I_NAME, INQUIRY_CONTENT, RGSTR_DATE, ANSWER_STATE, ANSWER_CONTENT, MEMBER_NO, M_NAME
	  FROM(
	      SELECT ROWNUM AS RNUM, INQUIRY_NO, I_NAME, INQUIRY_CONTENT, RGSTR_DATE, ANSWER_STATE, ANSWER_CONTENT, MEMBER_NO, M_NAME
	      FROM (
	            SELECT I.INQUIRY_NO AS INQUIRY_NO,
	                   I.NAME AS I_NAME,
	                   I.INQUIRY_CONTENT AS INQUIRY_CONTENT,
	                   I.RGSTR_DATE AS RGSTR_DATE,
	                   I.ANSWER_STATE AS ANSWER_STATE,
	                   I.ANSWER_CONTENT AS ANSWER_CONTENT,
	                   I.MEMBER_NO AS MEMBER_NO,
	                   M.NAME AS M_NAME
	            FROM INQUIRY I
	            LEFT JOIN MEMBER M ON I.MEMBER_NO = M.MEMBER_NO
   </sql>
   
   <resultMap id="inquiryListResultMap" type="Inquiry">
      <id property="inquiryNo" column="INQUIRY_NO"/>
      <result property="rnum" column="RNUM"/>
      <result property="iname" column="I_NAME"/>
      <result property="rgstrDate" column="RGSTR_DATE"/>
      <result property="answerState" column="ANSWER_STATE"/>
      <result property="memberNo" column="MEMBER_NO"/>
      <result property="mname" column="M_NAME"/>
   </resultMap>
   
   <resultMap id="inquiryViewResultMap" type="Inquiry" extends="inquiryListResultMap">
      <result property="inquiryContent" column="INQUIRY_CONTENT"/>
      <result property="answerContent" column="ANSWER_CONTENT"/>
   </resultMap>
   
   <!-- 1:1문의 게시글 목록 조회(전체 목록) -->
   <select id="selectInquiryCount" resultType="_int">
      SELECT COUNT(*) FROM INQUIRY WHERE MEMBER_NO = #{memberNo}
   </select>
   
   <select id="selectInquiryAll" resultMap="inquiryListResultMap">
      <include refid="inquiryListSql" />
	        WHERE I.MEMBER_NO = #{memberNo}
		    ORDER BY INQUIRY_NO
		    )
	    )
        ORDER BY RNUM DESC
   </select>
   
   <select id="selectadInquiryCount" resultType="_int">
      SELECT COUNT(*) FROM INQUIRY
   </select>
   
   <select id="selectadInquiryAll" resultMap="inquiryListResultMap">
      <include refid="inquiryListSql" />
		    ORDER BY INQUIRY_NO
		    )
	    )
        ORDER BY RNUM DESC
   </select>
   
   <select id="selectInquiryByNo" parameterType="_int" resultMap="inquiryViewResultMap" >
	   SELECT I.INQUIRY_NO AS INQUIRY_NO,
	                   I.NAME AS I_NAME,
	                   I.INQUIRY_CONTENT AS INQUIRY_CONTENT,
	                   I.RGSTR_DATE AS RGSTR_DATE,
	                   I.ANSWER_STATE AS ANSWER_STATE,
	                   I.ANSWER_CONTENT AS ANSWER_CONTENT,
	                   I.MEMBER_NO AS MEMBER_NO,
	                   M.NAME AS M_NAME
		FROM INQUIRY I
		LEFT JOIN MEMBER M ON I.MEMBER_NO = M.MEMBER_NO
		WHERE INQUIRY_NO = #{inquiryNo}
   </select>
   
   <!-- 게시글 등록 -->
	<insert id="insertInquiry" parameterType="Inquiry"
		useGeneratedKeys="true" keyProperty="inquiryNo" keyColumn="INQUIRY_NO">
		INSERT INTO INQUIRY(
		    INQUIRY_NO,
		    NAME,
		    INQUIRY_CONTENT,
		    RGSTR_DATE,
		    ANSWER_STATE,
		    MEMBER_NO
		)
		VALUES (
		    SEQ_INQUIRY_NO.NEXTVAL,
		    #{iname},
		    #{inquiryContent},
		    DEFAULT,
		    DEFAULT,
		    #{memberNo}
		)
	</insert>
	
	<!-- 관리자 답변 등록 -->
	<update id="insertadInquiry" parameterType="Inquiry">
		UPDATE INQUIRY
		SET
		    ANSWER_STATE = 'Y',
		    ANSWER_CONTENT = #{answerContent}
		WHERE INQUIRY_NO = #{inquiryNo}
	</update>
	

</mapper>