
/* 섹션 2 */
/* 컬럼명 */
.cs-faq-number {
    width: 100px;
}

.cs-faq-category {
    width: 150px;
}

.cs-faq-title {
    flex-grow: 1;
}

/* 리스트 설정 */
.cs-faq-list {
    cursor: pointer;
}

/* 답변 */
.cs-faq-detail {
    width: 900px;
    margin: 20px auto;
}
