/* 제목 */
#cs-section1 {
    margin: 40px auto 40px auto;
    text-align: center;
}

/* 내용 */
#cs-section2 {
    margin: 40px auto 40px auto;
    border-top: 1px solid #191919;
}

.cs-inquiry-wrap {
    margin-top: 40px;
}

.cs-inquiry-content {
    width: 1100px;
    display: flex;
    margin-bottom: 40px;
}

.cs-inquiry-column {
    width: 100px;
    height: 50px;
    text-align: left;
    padding-left: 20px;
    line-height: 50px;
}

/* 텍스트에리어 속성 */
.cs-inquiry-data {
    resize: none;
    flex-grow: 1;
    padding: 11px 0.6em;
    font-size: 16px;
    margin-right: 100px;
}

/* ck 에디터 속성 */
/* 전체 속성: https://ckeditor.com/docs/ckeditor5/latest/installation/advanced/content-styles.html */
.ck.ck-editor {
    flex-grow: 1;
    margin-right: 100px !important;
    z-index: 0 !important;
}
.ck-editor__editable {
    height: 500px;
}

.ck-editor__editable li {
    margin-left: 30px;
}

/* 버튼 */
.cs-inquiryBtns {
    display: block;
    margin: 40px auto;
    width: fit-content;
}

.cs-inquiryBtn {
    width: 160px;
    height: 40px;
    cursor: pointer;
    border:none;
    padding:7px 30px;
    font-size: 16px;
    line-height: 0;
}

.cs-inquiryBtn:first-child{
    margin-right: 15px;
}


.cs-inquiry-submit {
    background-color: #3B6C51;
    color: #fff;
}

.cs-inquiry-submit:active {
    background-color: #2f5640
}

.cs-inquiry-cancle {
    box-shadow: 0 0 0 1px #559D50 inset;
    background-color: #fff;
    color: #559D50;
}

.cs-inquiry-cancle:active {
    background-color: #ededed;
}


