/* 섹션 1 */

.cs-inquiry-head {
    position: relative;
}

.cs-inquiry-writeBtn {
    border:none;
    position: absolute;
    right: 0;
    top: 0;
    width: 160px;
    height: 40px;
    padding:7px 30px;
    background-color: #559d50;
    color: #fff;
    line-height: 0;
    cursor: pointer;
    font-size: 16px;
}

.cs-inquiry-writeBtn:active {
    background-color: #488344;
}


.cs-inquiryBtn-notice {
    box-shadow: 0 0 0 1px #559D50 inset;
    padding:7px 30px;
    background-color: #fff;
    color: #559D50;
}

.cs-inquiryBtn-notice:active {
    background-color: #ededed;
}

.cs-inquiryBtn-faq {
    box-shadow: 0 0 0 1px #559D50 inset;
    padding:7px 30px;
    background-color: #fff;
    color: #559D50;
}

.cs-inquiryBtn-faq:active {
    background-color: #ededed;
}

.cs-inquiryBtn-inquiry {
    
    padding:7px 30px;
    background-color: #3B6C51;
    color: #fff;
}

.cs-inquiryBtn-inquiry:active {
    background-color: #2f5640
}

/* 섹션 2 */
/* 컬럼명 */
.cs-inquiry-number {
    width: 100px;
}

.cs-inquiry-title {
    flex-grow: 1;
}

.cs-inquiry-date {
    width: 150px;
}

.cs-inquiry-answer {
    width: 150px;
}


/* 게시글 없을 시 */
.cs-inquiry-not {
    text-align: center;
    height: 500px;
    padding-top: 240px;
}

