/* 섹션 1 */
.cs-noticeBtn-faq {
    box-shadow: 0 0 0 1px #559D50 inset;
    padding:7px 30px;
    background-color: #fff;
    color: #559D50;
}

.cs-noticeBtn-faq:active {
    background-color: #ededed;
}

.cs-noticeBtn-notice {
    padding:7px 30px;
    background-color: #3B6C51;
    color: #fff;
}

.cs-noticeBtn-notice:active {
    background-color: #2f5640
}

.cs-noticeBtn-inquiry {
    box-shadow: 0 0 0 1px #559D50 inset;
    padding:7px 30px;
    background-color: #fff;
    color: #559D50;
}

.cs-noticeBtn-inquiry:active {
    background-color: #ededed;
}

/* 섹션 2 */
/* 컬럼명 */
.cs-notice-number {
    width: 100px;
}

.cs-notice-title {
    flex-grow: 1;
}


.cs-notice-writeMem {
    width: 150px;
}

.cs-notice-date {
    width: 150px;
}