<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.mealchelin.mvc.order.model.mapper.OrderMapper">
	
	
	<resultMap id="selectProductResultMap" type="com.mealchelin.mvc.order.model.vo.Orders">

	<id property="orderNo" column="ORDER_NO"/>
	<result property="memberNo" column="MEMBER_NO"/>
	<result property="paymentMethod" column="PAYMENT_METHOD"/>
	<result property="payMent" column="PAYMENT"/>
	<result property="orderDate" column="ORDER_DATE"/>
	<result property="name" column="NAME"/>
	<result property="orderMembers" column="ORDERS_NUMBERS"/>
	<result property="cancleStatus" column="CANCLE_STATUS"/>
	
	</resultMap>
	

	<insert id="insertOrder" parameterType="com.mealchelin.mvc.order.model.vo.Orders"  
	useGeneratedKeys="true" keyProperty="orderNo" keyColumn="ORDER_NO">
    <!-- 주문번호는 시퀀스로 처리 -->
    INSERT INTO ORDERS (
        ORDER_NO,
        ORDERS_NUMBERS,
        REQUEST,
        PAYMENT_METHOD,
        PAYMENT,
        MEMBER_NO,
        SHIP_NO
    ) VALUES (
        SEQ_ORDER_NO.NEXTVAL,
        #{orderMembers},
        #{request},
        #{paymentMethod},
        #{payMent},
        #{memberNo},
        #{shipNo}
    )
	</insert>



<select id="selectProductResultset" resultMap="selectProductResultMap" parameterType="_int">

SELECT 
    ORDERS.ORDER_NO,
    ORDERS.MEMBER_NO,
    ORDERS.PAYMENT_METHOD,
    ORDERS.PAYMENT,
    ORDERS.ORDER_DATE,
    ORDERS.CANCLE_STATUS,
    PRODUCT.NAME AS PRODUCT_NAME
FROM ORDERS
JOIN PRODUCT ON ORDERS.ORDER_NO = PRODUCT.PRD_NO
WHERE MEMBER_NO = #{memberNo} AND CANCLE_STATUS = 'N'
 
</select>

<update id="updateProductResultset" parameterType="map">
  UPDATE ORDER_PRODUCT
   SET ORDER_NO = #{orderNo}
 WHERE ORDER_NO = #{ordersNumbers}
</update>


<resultMap id="selectProductPayResultMap" type="com.mealchelin.mvc.order.model.vo.Orders">

 <id property="orderNo" column="ORDER_NO"/>
    <result property="memberNo" column="MEMBER_NO"/>
    <result property="paymentMethod" column="PAYMENT_METHOD"/>
    <result property="payMent" column="PAYMENT"/>
    <result property="orderDate" column="ORDER_DATE"/>
    <result property="shipStatus" column="SHIP_STATUS"/>
    <result property="orderMembers" column="ORDERS_NUMBERS"/>
    <result property="name" column="PRODUCT_NAME"/>
    <result property="brand" column="BRAND"/>
    <result property="prdNo" column="PRD_NO"/>
    <result property="image" column="IMAGE"/>
    <result property="cancleStatus" column="CANCLE_STATUS"/>
</resultMap>

<resultMap id="selectAdOrderResultMap" type="Orders">
 	<id property="orderNo" column="ORDER_NO"/>
    <result property="memberNo" column="MEMBER_NO"/>
    <result property="paymentMethod" column="PAYMENT_METHOD"/>
    <result property="payMent" column="PAYMENT"/>
    <result property="orderDate" column="ORDER_DATE"/>
    <result property="shipStatus" column="SHIP_STATUS"/>
    <result property="name" column="PRODUCT_NAME"/>
    <result property="memId" column="M_ID"/>
    <result property="countQ" column="COUNT_QUANTITY"/>
</resultMap>

<resultMap id="selectAdOrderNoResultMap" type="Orders" extends="selectAdOrderResultMap">
	<result property="orderMembers" column="ORDERS_NUMBERS"/>
	<result property="request" column="REQUEST"/>
	<result property="sumQ" column="SUM_QUANTITY"/>
    <result property="mname" column="M_NAME"/>
    <result property="recipient" column="RECIPIENT"/>
    <result property="phone" column="PHONE"/>
    <result property="postalCode" column="POSTAL_CODE"/>
    <result property="shipAddress" column="SHIP_ADDRESS"/>
    <result property="shipAddressDetail" column="SHIP_ADDRESS_DETAIL"/>
    <result property="cancleStatus" column="CANCLE_STATUS"/>
</resultMap>
   



<select id="selectProductPayResultset" parameterType="map" resultMap="selectProductPayResultMap">
SELECT
    O.ORDER_NO,
    O.MEMBER_NO,
    O.PAYMENT_METHOD,
    O.PAYMENT,
    O.ORDER_DATE,
    O.SHIP_STATUS,
    O.ORDERS_NUMBERS,
    O.CANCLE_STATUS,
    P.NAME AS PRODUCT_NAME,
    P.BRAND,
    P.PRD_NO,
    P.IMAGE
FROM 
    ORDERS O
JOIN 
    ORDER_PRODUCT OP ON O.ORDER_NO = OP.ORDER_NO
JOIN 
    PRODUCT P ON OP.PRD_NO = P.PRD_NO
WHERE
    O.MEMBER_NO = #{memberNo} AND CANCLE_STATUS = 'N' 
ORDER BY 
    O.ORDER_NO DESC
</select>


<select id="selectPayCount" parameterType="int">
     SELECT COUNT(*) 
    FROM ORDERS O
    JOIN ORDER_PRODUCT OP ON O.ORDER_NO = OP.ORDER_NO
    WHERE O.MEMBER_NO = #{memberNo} AND O.CANCLE_STATUS = 'N'
</select>




<select id="selectAll" resultMap="selectProductPayResultMap" parameterType="_int">

SELECT 
        O.ORDER_NO,
        O.MEMBER_NO,
        O.PAYMENT_METHOD,
        O.PAYMENT,
        O.ORDER_DATE,
        O.SHIP_STATUS,
        O.ORDERS_NUMBERS,
        P.NAME AS PRODUCT_NAME,
        P.BRAND,
        P.PRD_NO,
        P.IMAGE,
        O.CANCLE_STATUS
    FROM ORDERS O
    JOIN ORDER_PRODUCT OP ON O.ORDER_NO = OP.ORDER_NO
    JOIN PRODUCT P ON OP.PRD_NO = P.PRD_NO
    WHERE O.CANCLE_STATUS ='N' AND MEMBER_NO = #{memberNo}
    ORDER BY O.ORDER_DATE  DESC

</select>

<select id="selectadOrderCount" resultType="_int" >

SELECT COUNT(*)
FROM ORDERS O
JOIN MEMBER M ON M.MEMBER_NO = O.MEMBER_NO
<if test="!(shipStatus.equals('') and memId.equals(''))">
	<trim prefix="WHERE" prefixOverrides="AND|OR">
		<if test="!shipStatus.equals('')">
			O.SHIP_STATUS LIKE '%' || #{shipStatus} || '%'
		</if>
		<if test="!memId.equals('')">
			AND M.ID LIKE '%' || #{memId} || '%'
		</if>
	</trim>
</if>

</select>

<select id="selectadOrderAll" resultMap="selectAdOrderResultMap" parameterType="Orders">

SELECT 
    O.ORDER_NO AS ORDER_NO,
    MAX(O.MEMBER_NO) AS MEMBER_NO,
    MAX(O.PAYMENT_METHOD) AS PAYMENT_METHOD,
    MAX(O.PAYMENT) AS PAYMENT,
    MAX(O.ORDER_DATE) AS ORDER_DATE,
    MAX(O.SHIP_STATUS) AS SHIP_STATUS,
    MAX(P.NAME) AS PRODUCT_NAME,
    MAX(M.ID) AS M_ID,
    COUNT(OP.QUANTITY) AS COUNT_QUANTITY
FROM ORDERS O
JOIN ORDER_PRODUCT OP ON O.ORDER_NO = OP.ORDER_NO
JOIN PRODUCT P ON OP.PRD_NO = P.PRD_NO
JOIN MEMBER M ON M.MEMBER_NO = O.MEMBER_NO
<if test="!(shipStatus.equals('') and memId.equals(''))">
	<trim prefix="WHERE" prefixOverrides="AND|OR">
		<if test="!shipStatus.equals('')">
			O.SHIP_STATUS LIKE '%' || #{shipStatus} || '%'
		</if>
		<if test="!memId.equals('')">
			AND M.ID LIKE '%' || #{memId} || '%'
		</if>
	</trim>
</if>
GROUP BY O.ORDER_NO
ORDER BY ORDER_NO DESC

</select>


<select id="selectOrderByNo" resultMap="selectAdOrderNoResultMap" parameterType="Orders">

SELECT 
    O.ORDER_NO AS ORDER_NO,
    MAX(O.MEMBER_NO) AS MEMBER_NO,
    MAX(O.PAYMENT_METHOD) AS PAYMENT_METHOD,
    MAX(O.PAYMENT) AS PAYMENT,
    MAX(O.ORDER_DATE) AS ORDER_DATE,
    MAX(O.REQUEST) AS REQUEST,
    MAX(O.SHIP_STATUS) AS SHIP_STATUS,
    MAX(O.ORDERS_NUMBERS) AS ORDERS_NUMBERS,
    MAX(O.CANCLE_STATUS) AS CANCLE_STATUS,
    LISTAGG(P.NAME, ', ') WITHIN GROUP (ORDER BY P.NAME) AS PRODUCT_NAME,
    SUM(OP.QUANTITY) AS SUM_QUANTITY,
    MAX(M.NAME) AS M_NAME,
    MAX(M.ID) AS M_ID,
    MAX(SL.RECIPIENT) AS RECIPIENT,
    MAX(SL.PHONE) AS PHONE,
    MAX(SL.POSTAL_CODE) AS POSTAL_CODE,
    MAX(SL.SHIP_ADDRESS) AS SHIP_ADDRESS,
    MAX(SL.SHIP_ADDRESS_DETAIL) AS SHIP_ADDRESS_DETAIL
FROM ORDERS O
JOIN ORDER_PRODUCT OP ON O.ORDER_NO = OP.ORDER_NO
JOIN PRODUCT P ON OP.PRD_NO = P.PRD_NO
JOIN SHIPPING_LOCATION SL ON O.SHIP_NO = SL.SHIP_NO
JOIN MEMBER M ON M.MEMBER_NO = O.MEMBER_NO
WHERE O.ORDER_NO = #{orderNo}
GROUP BY O.ORDER_NO

</select>
<resultMap id="selectProductPayInfoResultMap" type="com.mealchelin.mvc.order.model.vo.Orders">

 <id property="orderNo" column="ORDER_NO"/>
    <result property="orderProductNo" column="ORDER_NO"/>
    <result property="memberNo" column="MEMBER_NO"/>
    <result property="paymentMethod" column="PAYMENT_METHOD"/>
    <result property="payMent" column="PAYMENT"/>
    <result property="orderDate" column="ORDER_DATE"/>
    <result property="shipStatus" column="SHIP_STATUS"/>
    <result property="orderMembers" column="ORDERS_NUMBERS"/>
    <result property="name" column="PRODUCT_NAME"/>
    <result property="prdNo" column="PRD_NO"/>
    <result property="image" column="IMAGE"/>
    <result property="countQ" column="QUANTITY"/>
    <result property="totalPrice" column="TOTAL_PRICE"/>
    <result property="price" column="PRICE"/>
    <result property="request" column="REQUEST"/>
    <result property="canclereason" column="CANCLE_REASON"/>
    <result property="cancleStatus" column="CANCLE_STATUS"/>
</resultMap>



<select id="selectPayInfo" parameterType="_int" resultMap="selectProductPayInfoResultMap">
SELECT 
        O.ORDER_NO,
        O.MEMBER_NO,
        O.PAYMENT_METHOD,
        O.PAYMENT,
        O.ORDER_DATE,
        O.SHIP_STATUS,
        O.ORDERS_NUMBERS,
        P.NAME AS PRODUCT_NAME,
        P.PRD_NO,
        P.IMAGE,
        OP.PRD_NO,
		OP.QUANTITY,
		OP.TOTAL_PRICE,
		OP.ORDER_NO,
		O.CANCLE_REASON,
		O.CANCLE_STATUS,
		P.PRICE
    FROM 
        ORDERS O
    JOIN 
        ORDER_PRODUCT OP ON O.ORDER_NO = OP.ORDER_NO
    JOIN 
        PRODUCT P ON OP.PRD_NO = P.PRD_NO
    WHERE 
        OP.ORDER_NO = #{orderProductNo} AND CANCLE_STATUS = 'N' 
</select>

<select id="selectOrderAll" parameterType="_int" resultMap="selectProductPayInfoResultMap">

SELECT 
    ORDER_NO,
    REQUEST,
    PAYMENT_METHOD,
    PAYMENT,
    SHIP_STATUS,
    ORDER_DATE,
    CANCLE_STATUS,
    CANCLE_REASON,
    MEMBER_NO,
    SHIP_NO,
    ORDERS_NUMBERS
FROM ORDERS
WHERE ORDER_NO =#{orderNo} AND CANCLE_STATUS = 'N'


</select>



<select id="selectadMainOrderList" resultMap="selectAdOrderResultMap" parameterType="Orders">

SELECT ORDER_NO, MEMBER_NO, PAYMENT_METHOD, PAYMENT, ORDER_DATE, SHIP_STATUS, PRODUCT_NAME, M_ID, COUNT_QUANTITY
FROM (
    SELECT 
        O.ORDER_NO AS ORDER_NO,
        MAX(O.MEMBER_NO) AS MEMBER_NO,
        MAX(O.PAYMENT_METHOD) AS PAYMENT_METHOD,
        MAX(O.PAYMENT) AS PAYMENT,
        MAX(O.ORDER_DATE) AS ORDER_DATE,
        MAX(O.SHIP_STATUS) AS SHIP_STATUS,
        MAX(P.NAME) AS PRODUCT_NAME,
        MAX(M.ID) AS M_ID,
        COUNT(OP.QUANTITY) AS COUNT_QUANTITY
    FROM ORDERS O
    JOIN ORDER_PRODUCT OP ON O.ORDER_NO = OP.ORDER_NO
    JOIN PRODUCT P ON OP.PRD_NO = P.PRD_NO
    JOIN MEMBER M ON M.MEMBER_NO = O.MEMBER_NO
    GROUP BY O.ORDER_NO
    ORDER BY ORDER_NO DESC
)
WHERE ROWNUM BETWEEN 1 AND 8

</select>

 <update id="updateCancelStatus" parameterType="_int" >
        UPDATE ORDERS
        SET CANCLE_STATUS = 'Y'
        WHERE ORDER_NO = #{orderNo}
    </update>





 <update id="updateCancleReason" parameterType="map">
        UPDATE ORDERS
        SET CANCLE_REASON = #{cancleReason}
        WHERE ORDER_NO = #{orderNo}
    </update>














</mapper>














