<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.mealchelin.mvc.order.model.mapper.OrderMapper">
	
	
	<resultMap id="selectProductResultMap" type="com.mealchelin.mvc.order.model.vo.Orders">

<id property="orderNo" column="ORDER_NO"/>
<result property="memberNo" column="MEMBER_NO"/>
<result property="paymentMethod" column="PAYMENT_METHOD"/>
<result property="payMent" column="PAYMENT"/>
<result property="orderDate" column="ORDER_DATE"/>
<result property="name" column="NAME"/>
<result property="orderMembers" column="ORDERS_NUMBERS"/>


</resultMap>
	

	<insert id="insertOrder" parameterType="com.mealchelin.mvc.order.model.vo.Orders"  
	useGeneratedKeys="true" keyProperty="orderNo" keyColumn="ORDER_NO">
    <!-- 주문번호는 시퀀스로 처리 -->
    INSERT INTO ORDERS (
        ORDER_NO,
        ORDERS_NUMBERS,
        REQUEST,
        PAYMENT_METHOD,
        PAYMENT,
        MEMBER_NO,
        SHIP_NO
    ) VALUES (
        SEQ_ORDER_NO.NEXTVAL,
        #{orderMembers},
        #{request},
        #{paymentMethod},
        #{payMent},
        #{memberNo},
        #{shipNo}
    )
</insert>



<select id="selectProductResultset" resultMap="selectProductResultMap" parameterType="_int">

SELECT 
    ORDERS.ORDER_NO,
    ORDERS.MEMBER_NO,
    ORDERS.PAYMENT_METHOD,
    ORDERS.PAYMENT,
    ORDERS.ORDER_DATE,
    PRODUCT.NAME AS PRODUCT_NAME
FROM ORDERS
JOIN PRODUCT ON ORDERS.ORDER_NO = PRODUCT.PRD_NO
WHERE MEMBER_NO = #{memberNo}

</select>

<update id="updateProductResultset" parameterType="map">
  UPDATE ORDER_PRODUCT
   SET ORDER_NO = #{orderNo}
 WHERE ORDER_NO = #{ordersNumbers}
</update>


<resultMap id="selectProductPayResultMap" type="com.mealchelin.mvc.order.model.vo.Orders">

 <id property="orderNo" column="ORDER_NO"/>
    <result property="memberNo" column="MEMBER_NO"/>
    <result property="paymentMethod" column="PAYMENT_METHOD"/>
    <result property="payMent" column="PAYMENT"/>
    <result property="orderDate" column="ORDER_DATE"/>
    <result property="shipStatus" column="SHIP_STATUS"/>
    <result property="orderMembers" column="ORDERS_NUMBERS"/>
    <result property="name" column="PRODUCT_NAME"/>
    <result property="brand" column="BRAND"/>
    <result property="prdNo" column="PRD_NO"/>
    <result property="image" column="IMAGE"/>
    <result property="cancleStatus" column="CANCLE_STATUS"/>
</resultMap>



<select id="selectProductPayResultset" parameterType="map" resultMap="selectProductPayResultMap">
SELECT 
        O.ORDER_NO,
        O.MEMBER_NO,
        O.PAYMENT_METHOD,
        O.PAYMENT,
        O.ORDER_DATE,
        O.SHIP_STATUS,
        O.ORDERS_NUMBERS,
        P.NAME AS PRODUCT_NAME,
        P.BRAND,
        P.PRD_NO,
        P.IMAGE
    FROM 
        ORDERS O
    JOIN 
        ORDER_PRODUCT OP ON O.ORDER_NO = OP.ORDER_NO
    JOIN 
        PRODUCT P ON OP.PRD_NO = P.PRD_NO
    WHERE 
        O.MEMBER_NO = #{memberNo}  -- 해당 사용자의 주문만 가져오도록 변경
    ORDER BY 
        O.ORDER_DATE  ASC
</select>

<select id="selctPayConut" resultType="_int" >

SELECT COUNT(*) FROM ORDERS WHERE CANCLE_STATUS ='N'

</select>


<select id="selectAll" resultMap="selectProductPayResultMap" parameterType="_int">

SELECT 
        O.ORDER_NO,
        O.MEMBER_NO,
        O.PAYMENT_METHOD,
        O.PAYMENT,
        O.ORDER_DATE,
        O.SHIP_STATUS,
        O.ORDERS_NUMBERS,
        P.NAME AS PRODUCT_NAME,
        P.BRAND,
        P.PRD_NO,
        P.IMAGE,
        O.CANCLE_STATUS
    FROM ORDERS O
    JOIN ORDER_PRODUCT OP ON O.ORDER_NO = OP.ORDER_NO
    JOIN PRODUCT P ON OP.PRD_NO = P.PRD_NO
    WHERE O.CANCLE_STATUS ='N' AND MEMBER_NO = #{memberNo}
    ORDER BY O.ORDER_DATE  DESC

</select>






















</mapper>














