/* 전체 css*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Noto+Sans+KR&family=Quicksand&display=swap');

*{
    font-family: 'Noto Sans KR', sans-serif;
    color: #191919;
    box-sizing: border-box;
    letter-spacing: 0.3px;
    margin: 0;
    padding: 0;
}

body{
    position: relative;
}

h1{
    margin:10px 0;
    padding:0;
    font-size: 45px;
    font-weight: 700;
    color: #559D50; 
}

h2{
    margin:0;
    padding:0;
    text-align: center;
    font-size: 34px;
    font-weight: 600;
}

h3{
    font-size: 28px;
    font-weight: 600;
}

section{
    font-size: 16px;
    width: 1100px;
    margin:0 auto;
    clear:both;
}

a {
    text-decoration: none;
    color: #191919;
}

a:hover{
    color: #559D50;
    cursor: pointer;
}

/* 검색창 x 표시 없애기 */
input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    content: URL();
    cursor: pointer;
}

/* 회색 박스 */
.myGraybox{
    width: 100%;
    height: 306px;
    min-width: 1100px;
    background-color: #eee;
    clear:both;
}

.myGrayboxIn{
    width: 945px;
    margin: 0 auto;

}

.myGrayboxLeft{
    background-color: #fff;
    width: 300px;
    height: 224px;
    display: inline-block;
    margin-top: 41px;
    position: relative;
}

.myGrayboxLeft div {
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 40px;
    
}

.myGrayboxLeft span {
    font-size: 22px;
}

.myGrayboxLeft p {
    display: inline-block;
	vertical-align: super;
}




.myBtn1, .myBtn2 {
    border:none;
    width: 123px;
    height: 35px;
    box-shadow: 0 0 0 1px #559D50 inset;
    padding:7px 15px;
    background-color: #fff;
    color: #559D50;
    margin-top: 7px;
}

.myBtn1:hover, .myBtn2:hover {
    border:none;
    padding:7px 15px;
    background-color: #3B6C51;
    color: #fff;
}

.myGrayboxRight {
    width: 640px;
    height: 224px;
    float: right;
    margin-top: 41px;
}

.myboxRightDiv{
    background-color: #fff;
    width: 300px;
    height: 105px;
    display: inline-block;
    margin-left: 16px;
    margin-bottom: 9px;
    text-align: center;
    padding-top: 35px;
}

.myboxRightImg1 {
    float: left;
    margin-left:30px;
}

.myboxRightText {
    float: left;
    margin-left: 20px;
}

.myboxRightText {
    display: inline-block;
    font-size: 22px;
    padding-bottom: 10px;
}

.myboxRightImg2 {
    float: right;
    margin-right: 20px;
}


